<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891284953050-abkq9040gbr10ande1k2u9a4tend4nlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891284953050-abkq9040gbr10ande1k2u9a4tend4nlt</string>
	<key>API_KEY</key>
	<string>AIzaSyDSa83A1Zz6k_UzKMiBAWBXDL5ySv5blIs</string>
	<key>GCM_SENDER_ID</key>
	<string>891284953050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bastianx6.Accounts</string>
	<key>PROJECT_ID</key>
	<string>accounts-8cd00</string>
	<key>STORAGE_BUCKET</key>
	<string>accounts-8cd00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891284953050:ios:66d0c42442ce3e689012e3</string>
	<key>DATABASE_URL</key>
	<string>https://accounts-8cd00.firebaseio.com</string>
</dict>
</plist>